@model ParkerFox.Site.ViewModels.ApplyForLoanViewModel
@{
    ViewBag.Title = "Apply";
}
<link href="~/Content/Site.less" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        $('#amount').change(function () {
            $('#amountDisplay').html("£" + $(this).val());            
        });
    });
</script>
<h2>Apply</h2>

<a href="">click me all over</a>
<div class="notice">notice me</div>

<section id="application-form">
    <dl>
        <dt>@Html.LabelFor(x => x.Amount):</dt>
        <dd>
            @Html.TextBoxFor(x => x.Amount, new { id="amount", @type = "range", min = "50", max = "1000", value = "50", step = "10" })            
            <span id="amountDisplay"></span>
        </dd>
        <dt>@Html.LabelFor(x => x.PayDay)</dt>    
        <dd>@Html.TextBoxFor(x => x.PayDay)</dd>
    </dl>
</section>