

@model MagHag.Subscriptions.Core.ViewModels.CreateSubscriptionViewModel
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-1.0.1.min.js"></script>
<script src="/signalr/hubs"></script>

@Html.Action("Publications")

<div>
    <input id="publicationName" type="text"/>
    <input id="createPublicationCommand" type="button" value="create publication" />
</div>
<script>
    var paymentProcessedEventHandler = $.connection.paymentProcessedEventHandler;
    
    paymentProcessedEventHandler.client.paymentProcessed = function (paymentProcessedEvent) {
        console.log('payment processed ' + paymentProcessedEvent.SubscriptionId);
    };

    $(function () {
        $('#sendCommand').on('click', function () {
            $.ajax({
                url: '/home/index',
                type: 'POST',
                data : {PublicationId:'fe8f2b0a-9dd3-49a0-bd01-91ccbc941a10'}
            });
        });

        $('#createPublicationCommand').on('click', function() {
            var name = $('#publicationName').val();
            $.ajax({
                url: '/home/CreatePublication',
                type: 'POST',
                data: {PublicationName: name }
            });
        });

        $.connection.hub.start().done(function () {
            console.log('hub started');
        });
    });
</script>