@model MagHag.Subscriptions.Core.ViewModels.CreateSubscriptionViewModel
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-1.0.1.min.js"></script>
<script src="/signalr/hubs"></script>
<script src="~/Scripts/Publication.js"></script>

<div id="publications">
</div>
<div>
    <input id="publicationName" type="text"/>
    <input id="createPublicationCommand" type="button" value="create publication" />
</div>

@Html.AddStartupScript("MagHag.PublicationManager", "#publications", "/home/publications", "/api/subscription")

<script>
    $(function () {
        $('#createPublicationCommand').on('click', function() {
            var name = $('#publicationName').val();
            $.ajax({
                url: '/home/CreatePublication',
                type: 'POST',
                data: {PublicationName: name }
            });
        });
    });
</script>

<script src="~/Scripts/ConnectionManager.js"></script>
