MagHag/MagHag.Application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/MagHag.Backend/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/MagHag.Billing.Application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/MagHag.Billing.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/MagHag.Billing.Messaging/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/MagHag.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/MagHag.Infrastructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/MagHag.Site/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/MagHag.Subscriptions.Application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/MagHag.Subscriptions.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/MagHag.Subscriptions.Messaging/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/MagHag.Tests.Unit/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/MagHag.v11.suo
MagHag/Ninject.Extensions.MagHag.Application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/Ninject.Extensions.MagHag.Infrastructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/Ninject.Extensions.Subscriptions/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MagHag/MagHag.Application/bin/Debug/MagHag.Application.dll
*.pdb
*.dll
*.cache
*/bin/*
*/obj/*
*.exe
MagHag/MagHag.ApiHost/bin/*
MagHag/MagHag.ApiHost/obj/*
MagHag/MagHag.Application/bin/*
MagHag/MagHag.Billing.Application/bin/*
MagHag/MagHag.Application/bin/*
MagHag/MagHag.Backend/bin/*
MagHag/MagHag.ReadStore/bin/*
MagHag/MagHag.ReadStore/obj/*
