@{
    ViewBag.Title = "CssStyleing";
}
<style>
    p{color: red}
    #identity{color:blue}
    .other{color:pink}
    div.other{color:brown}

    
    #container div{background-color:gray;width:200px;display:inline-block}
</style>

<p>Style by element name</p>
<p id="identity">style by id</p>
<p class="other">style by class</p>
<div class="other">style by element class</div>


<div id="container">
    <div>left</div>
    <div>middel</div>
    <div>right</div>
</div>

<a>SOMTHING</a>