@model ParkerFox.Site.ViewModels.Ecommerce.ProductViewModel

@{
    ViewBag.Title = "Admin";
}
<style>
    #products table{border:0;padding:0;margin:0;border-spacing:0;border-collapse:collapse;width:100%}
    dl{margin:0;padding:0;border:0;outline:0}
    dl dt, dl dd{display:inline-block;margin:0;padding:0;border:0;outline:0}
    #edit-product{width:400px;background-color:grey}
    #edit-product dt{width:100px;background-color:red}
    #edit-product dd{width:200px}
</style>


<input type="button" id="callSelfHost" value="call self hosted" />
<div>
    <input id="queryText" type="text" />
    <input id="findCommand" type="button" value="find" />
</div>

<div id="productList"></div>

<div id="productEditor"></div>

<script type="text/javascript" src="~/Scripts/handlebars.js"></script>

<script type="text/ecmascript">

    //--this is called a javascript module
    var productServer = (function () {
        var productApiUrl = '@Url.RouteUrl("DefaultApi", new {httproute="", controller="product"})';
        
        $(document).ajaxError(function (event, xhr) {
            alert(xhr.status + " : " + xhr.statusText);
        });

        var _getAll = function () {
            return $.ajax(productApiUrl);
        };

        var _getById = function (id) {
            return $.ajax(productApiUrl + '/' + id);
        };

        var _find = function (queryText) {
            var url = productApiUrl + "/find?queryText=" + queryText;
            //url = productApiUrl + "/find/id";
            alert(url);
            return $.ajax(url);
        };

        return {
            getAll: _getAll,
            getById: _getById,
            find : _find
        };

        //--place holder for propa jquery goodness
        function update() {
            $.ajax({
                url: "",
                data: { id: 1 },
                contentType: "application/json;charset=utf-8",
                statusCode: {
                    200: function (data) {
                    },
                    404: function () {
                    }
                }
            });
        };

    }());

    (function () {

        var templates = {};

        var _init = function () {
            compileTemplates();
            refreshProducts();
            $('#productList').on('click', 'table tr', editProduct);
            $('#findCommand').on('click', findProduct);
        };

        var compileTemplates = function () {
            templates.productTable = Handlebars.compile($("#list-products").html());
            templates.editProduct = Handlebars.compile($('#edit-product').html());
        };

        var editProduct = function () {
            productServer.getById($(this).attr('data-id')).done(showProductEditor);
        };

        var refreshProducts = function () {
            productServer.getAll().done(showAllProducts);
        };

        var showAllProducts = function (data) {
            var output = templates.productTable({ products: data });
            $('#productList').html(output);
        };

        var showProductEditor = function (product) {
            var output = templates.editProduct(product);
            $('#productEditor').html(output);
        };

        var findProduct = function () {
            var queryText = $('#queryText').val();
            productServer.find(queryText).done(showAllProducts);
        };

        //--shorthand for $(document.ready).func...
        $(function () {
            _init();

            $('#callSelfHost').click(function () {

                $.ajax({
                    url: "http://localhost:8080/api/product",
                    success: function (data) {
                        alert('your mom');
                    },
                    error: function () {
                        alert('errrrrr');
                    }
                });
            });
        });
    }());
</script>

<script id="list-products" type="text/html">
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Unit price</td>
        </tr>
        </thead>
        {{#each products}}
        <tr data-id={{ProductId}}>
            <td>{{Name}}</td>
            <td>{{UnitPrice}}</td>
        </tr>
        {{/each}}
    </table>
</script>

<script id="edit-product" type="text/html">
    <dl id="edit-product">
        <dt>Name</dt>
        <dd><input type="text" name="Name" value="{{Name}}" /></dd>
        <dt>Unit Price</dt>
        <dd><input type="text" name="UnitPrice" value="{{UnitPrice}}" /></dd>
        <dt>&nbsp;</dt>
        <dd><input id="saveCommand" type="button" value="save" /></dd>
    </dl>
</script>