@model ParkerFox.Site.ViewModels.Store.CatalogViewModel
@{
    ViewBag.Title = "Index";
}

<dl id="catalog">
@foreach(var product in Model.Products)
{
    <dt>
        image
        <div style="width:100px;height:100px;background-color:green"></div>
    </dt>
    <dd>
        @product.Name
        <a class="addToBasketCommand">add to basket</a>
    </dd>
}
</dl>