@model ParkerFox.Site.ViewModels.Ecommerce.CatalogViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    #catalog{width: 300px;}
    #catalog a.addToBasketCommand{color: red;}
    #catalog dt{float: left;clear:right;}
    #catalog dd{float:right;clear:left;vertical-align:top;}
</style>

<dl id="catalog">
@foreach(var product in Model.Products)
{
    <dt>
        <div>image</div>
    </dt>
    <dd>
        @product.Name
        <a class="addToBasketCommand" data-id="@product.ProductId">add to basket</a>
    </dd>
}
</dl>
<script type="text/javascript" src="~/Scripts/Ecommerce/catalog.js"></script>
<script type="text/javascript">
    $(function () {
        new Basket('@Request.AnonymousID', 'http://localhost:8181/api/basket/');
    });
</script>