@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChildFrame</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.7.2.js"></script>
</head>
<body>
    <div>
        this is child frame
        <input id="cardNumber" type="text" />
    </div>
    
    <script type="text/javascript">
        var url = "http://localhost:1385/publication/subscription";
        $(function () {
            $("#cardNumber").on("blur", onCardBlur).on("click", onCardFocus);
        });

        function onCardFocus() {
            window.parent.postMessage("card-focus", url);
        };

        function onCardBlur() {
            window.parent.postMessage("card-blur", url);
        };

    </script>
</body>
</html>
