@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.8.3.min.js"></script>
<script src="~/Scripts/jquery.signalR-1.0.0-rc1.min.js"></script>
<script src="/signalr/hubs" type="text/javascript"></script>

<div>
    <h3>Calling web api</h3>
    <input id="callWebApi" type="button" value="Call web api" />
</div>

<div>
    <h3>Using SignalR</h3>
    <div>
        <input id="messageToSend" type="text" />
        <input id="sendMessage" type="button" value="send message" />
    </div>
    <div>
        <input id="echoMessage" type="text" />
        <input id="setEchoMessage" type="button" value="set echo message" />
    </div>
    <div id="output"></div>
</div>

<input id="serverMessage" type="button" value="Get server to send message" />

<script>
    $(function() {
        setupWebApi();
        setupSignalR();
    });
    
    function setupWebApi() {
        $('#callWebApi').on('click', function() {
            $.ajax({ url: '/api/webpi' }).done(function() {
                console.log('finished web api call');
            });
        });
    };

    function setupSignalR() {
        var signalRHub = $.connection.signalRHub;

        signalRHub.client.messageFromServer = function (message) {
            $('#output').prepend("<div>" + message + "</div>");
        };

        signalRHub.client.receiveData = function (data) {
            alert(data.FirstName);
        };

        $($.connection.hub).bind("onReconnect", function (e, data) {
            console.log('reconnect');
        });

        $.connection.hub.start(function () {
            console.log("my id is " + $.connection.hub.id);
        });

        $('#sendMessage').on('click', function () {
            signalRHub.server.sendAMessage($('#messageToSend').val());
        });
        $('#setEchoMessage').on('click', function () {
            signalRHub.server.setupEcho($('#echoMessage').val());
        });
    };

    $(function() {
        $('#serverMessage').on("click", function() {
            $.ajax({ url: "/ServerComms/SendBackMessage" });
        });
    });
</script>