@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/content/ecommerce.css" />

<div id="basketContainer" style="width:800px;margin: 0 auto">
    @Html.Action("Basket")
</div>

<script type="text/javascript" src="~/Scripts/Ecommerce/basket.js"></script>