@model IEnumerable<MagHag.Subscriptions.Core.ReadModel.ActivePublication>

@foreach (var publication in Model)
{
    <div>
        <span>
            @publication.Title
        </span>
        <input type="button" value="subscribe" class="subscribe" data-publicationId="@publication.PublicationId" />
    </div>
}