USE [master]
GO
/****** Object:  Database [MagHag.Subscriptions]    Script Date: 21/03/2013 13:49:16 ******/
CREATE DATABASE [MagHag.Subscriptions] ON  PRIMARY 
( NAME = N'MagHag.Subscriptions', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\MagHag.Subscriptions.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MagHag.Subscriptions_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\MagHag.Subscriptions_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MagHag.Subscriptions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MagHag.Subscriptions]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 21/03/2013 13:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventId] [uniqueidentifier] NOT NULL,
	[StreamId] [nvarchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
	[EventType] [nvarchar](255) NOT NULL,
	[Body] [ntext] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stream]    Script Date: 21/03/2013 13:49:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stream](
	[StreamId] [nvarchar](50) NOT NULL,
	[CurrentSequence] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StreamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
